@import '../../../styles/variables';

.anonymous-layout {
  display: flex;
  align-items: center;

  .wrapper-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;

    .action-button {
      width: 150px;
      margin: 5px;
    }
  }

  &-content {
    width: 50%;
  }
}
